* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*colori*/

:root {
    --color-header:#ff6900;
    --color-bck-card:#e2e2e2;
    --color-discount:#ff0000;
    --color-sostenibility:#008000;
    --color-bck-body:#ffffff;
    --color-bck-footer:#1a1a1a;
}

/*regole comuni*/

.flex {
    display: flex;
}

.flex_center {
    align-items: center;
}

.decoration_none {
    text-decoration: none;
}

.white {
    color: var(--color-bck-body);
}




/*header*/

header {
    background-color: var(--color-header);
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

nav, .container, .container_footer {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.nav_1, .nav_3 {
    width: 25%;
}

.nav_2 {
    width: 50%;
    text-align: center;
}

.nav_3 {
    text-align: end;
}

.boolean_logo {
    height: 35px;
    margin: 15px 0;
}

nav div a {
    color: var(--color-bck-body);
}

/*main*/

main {
    margin: 100px 0;
}

.container {
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card {
    width: calc(100% / 3 - 10px);
    position: relative;
}

.card_image_container {
    height: 500px;
    position: relative;
}

.immage_main {
    height: 100%;
    width: 100%;
    z-index: 1;
}


.immage_main_hover {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.card_image_container:hover .immage_main_hover{
    z-index:2;

}

/* quando vado sopra la card immage_main lo z-index diventa -2 (diminuisce) */


.container_info {
    position: absolute;
    bottom: 100px;
    z-index: 3;
}



.discount, .sostenibilita {
    padding: 5px;
    color: var(--color-bck-body);
}

.discount {
    background-color: var(--color-discount);
}

.sostenibilita {
    background-color: var(--color-sostenibility);
}

.my_heart {
    position: absolute;
    top: 8px;
    right: 0;
    background-color: var(--color-bck-body);
    padding: 10px;
    z-index: 3;
}

.my_heart:hover {
    color: var(--color-discount);
}

.card_container_text {
    margin-bottom: 15px;
}

.brand, .crossed_price {
    color: 000000;
}

.discount_price {
    color: var(--color-discount);
}

.crossed_price {
    text-decoration: line-through;
}

/* footer */

footer {
    background-color: var(--color-bck-footer);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.container_footer {
    height: 100px;
    color: var(--color-bck-body);
}

.footer {
    width: 50%;
}

.boolando, .info_footer, .trovaci, .items {
    margin-top: 15px;
}

.trovaci {
    margin-right: 18px;
}

.info_footer a {
    text-decoration: none;
    color: var(--color-bck-card);
}

.social {
    text-align: end;
}

.items a {
    color: var(--color-bck-body);
    padding: 5px;
}








