* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*colori*/

:root {
    --color-header:#ff6900;
    --color-bck-card:#e2e2e2;
    --color-discount:#ff0000;
    --color-sostenibility:#008000;
    --color-bck-body:#ffffff;
    --color-bck-footer:#1a1a1a;
}

/*regole comuni*/

.flex {
    display: flex;
}

.flex_center {
    align-items: center;
}

.decoration_none {
    text-decoration: none;
}

.white {
    color: var(--color-bck-body);
}




/*debug*/

.container {
    background-color: blue;
    height: 600px;
}

/*header*/

header {
    background-color: var(--color-header);
    margin-bottom: 30px;
}

nav, .container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.nav_1, .nav_3 {
    width: 25%;
}

.nav_2 {
    width: 50%;
    text-align: center;
}

.nav_3 {
    text-align: end;
}

.boolean_logo {
    height: 35px;
    margin: 15px 0;
}

nav div a {
    color: var(--color-bck-body);
}

/*main*/

.container {
    justify-content: space-evenly;
}


.card {
    width: calc(100% / 3 - 10px);
    height: 500px;
    border: 1px solid white;
    position: relative;
}

.immage_main {
    height: 100%;
    width: 100%;
}

.container_info {
    position: absolute;
    bottom: 40px;
}



.discount, .sostenibilita {
    padding: 5px;
    color: var(--color-bck-body);
}

.discount {
    background-color: var(--color-discount);
}

.sostenibilita {
    background-color: var(--color-sostenibility);
}

.my_heart {
    position: absolute;
    top: 8px;
    right: 0;
    background-color: var(--color-bck-body);
    padding: 10px;
}

.brand, .crossed_price {
    color: var(--color-bck-card);
}

.discount_price {
    color: var(--color-discount);
}

.crossed_price {
    text-decoration: line-through;
}












