* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*colori*/

:root {
    --color-header:#ff6900;
    --color-bck-card:#e2e2e2;
    --color-discount:#ff0000;
    --color-sostenibility:#008000;
    --color-bck-body:#ffffff;
    --color-bck-footer:#1a1a1a;
}

/*regole comuni*/

.flex {
    display: flex;
}

.flex_center {
    align-items: center;
}

.decoration_none {
    text-decoration: none;
}

.white {
    color: var(--color-bck-body);
}

/*debug*/

.container {
    background-color: red;
    height: 600px;
}

.main_col_1, .main_col_2, .main_col_3 {
    border: 1px solid white;
}

/*header*/

header {
    background-color: var(--color-header);
}

nav, .container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.nav_1, .nav_3 {
    width: 25%;
}

.nav_2 {
    width: 50%;
    text-align: center;
}

.nav_3 {
    text-align: end;
}

.boolean_logo {
    height: 35px;
    margin: 15px 0;
}

nav div a {
    color: var(--color-bck-body);
}

/*main*/

section {
    margin-top: 40px;
}

.gap_10 {
    gap: 10px;
}

.main_col_1, .main_col_2, .main_col_3 {
    width: calc(100% / 3);
    height: 500px;
}

.main_col_1 {
    background-image: url(img/img/1.webp);
    background-size: cover;
}







